@charset "utf-8";
/*   
Theme Name: CFMA Theme
Theme URI: http://www.86Solutions.com
Description: Theme for CFMA
Author: John
Author URI: http://www.86Solutions.com
Version: 1
*/

/* Font JohnstonITCStd-Light*/
@font-face {
    font-family: 'JohnstonITCStd-Light';
    src: url('../font/johnstonitcstd-light.eot');
    src: url('../font/johnstonitcstd-light.eot?#iefix') format('embedded-opentype'),
         url('../font/johnstonitcstd-light.woff') format('woff'),
         url('../font/johnstonitcstd-light.ttf') format('truetype'),
         url('../font/johnstonitcstd-light.svg#johnstonitcstd-light') format('svg');
	src: url('../font/JohnstonITCStd-Light.otf');	 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JohnstonITCStd-Light';
	src: url('../font/JohnstonITCStd-LightItalic.otf');	 
    font-weight: normal;
    font-style: italic;
}

/* Font JohnstonITCStd-Medium*/
@font-face {
    font-family: 'JohnstonITCStd-Light';
    src: url('../font/johnstonitcstd-medium.eot');
    src: url('../font/johnstonitcstd-medium.eot?#iefix') format('embedded-opentype'),
         url('../font/johnstonitcstd-medium.woff') format('woff'),
         url('../font/johnstonitcstd-medium.ttf') format('truetype'),
         url('../font/johnstonitcstd-medium.svg#johnstonitcstd-medium') format('svg');
	src: url('../font/JohnstonITCStd-Medium.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'JohnstonITCStd-Light';
	src: url('../font/JohnstonITCStd-MediumItalic.otf');
    font-weight: bold;
    font-style: italic;
}

/* Font PenumbraFlareStd-Regular*/
@font-face {
    font-family: 'PenumbraFlareStd-Regular';
    src: url('../font/penumbraflarestd-regular.eot');
    src: url('../font/penumbraflarestd-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/penumbraflarestd-regular.woff') format('woff'),
         url('../font/penumbraflarestd-regular.ttf') format('truetype'),
         url('../font/penumbraflarestd-regular.svg#penumbraflarestd-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen {
* { margin: 0; padding: 0; }

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }
/* start commented backslash hack \*/ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */

body { 
	font: 13px/1.3 'JohnstonITCStd-Light' ,Arial , Georgia, serif; 	
/*	background: url("../images/header-bg.jpg") repeat-x ; */
	background-color:#000;
	color: #FFF;
}
.block {
	float:left;
}
a img { border: 0; }
a{
	text-decoration: none;
	color: #FFF;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover  {text-decoration: none; }

h1, h2, h3, h4	{ font-weight: normal;}
h1				{ font-size: 24px; margin: 0 0 10px 0;}
h2				{ font-size: 22px; margin: 0 0 8px 0;}
h3				{ font-size: 18px; margin: 0 0 8px 0;}
h4				{ font-size: 16px; margin: 0 0 8px 0;}
h5				{ font-size: 12px; margin: 0 0 6px 0; font-weight: bold;}
h6				{ font-size: 12px; margin: 0 0 6px 0; font-weight: normal;}

.clear{
	clear: both;
}
small			{ font-size: 11px; line-height: 16px; }
strong			{ color: #fefcfc; font-weight: bold; }
b				{ font-weight: bold; }
.bold           { font-weight: bold; }
.hidden         { display: none; }




.font_face_johnston_light{
	font: 11px/1.1 'JohnstonITCStd-Light' ,Arial , Georgia, serif;
}
.font_face_johnston_medium{
	font: 11px/1.1 'JohnstonITCStd-Medium' ,Arial , Georgia, serif;
}
.font_face_penumbra_regular{
	font: 11px/1.1 'PenumbraFlareStd-Regular' ,Arial , Georgia, serif; 
}


/******************************/
/* white line height*/
.whiteline12 { /*15*/
	height:12px;
	/*float:left; */
	width: 100%;
}
.whiteline21{ /* 26 */
	height:21px;
	width: 100%;
}

/****** white  colum  width *****/
.whitecolumn366 { /* 458 */
	width:366px;
	float:left; 
	height: 100%;
}
.whitecolumn24{/* 30 */
	width:24px;
	float:left; 
	height: 100%;
}
.whitecolumn58{ /*  72*/
	width:58px; 
	float:left; 
	height: 100%;
}
.whitecolumn66{ /*  82*/
	width:66px;
	float:left; 
	height: 100%;
}	
.whitecolumn16{ /*  20*/
	width:16px;
	float:left; 
	height: 100%;
}
/*****************************/
.page_wrap_background{
	background: url(../images/cfma_bg/page-bg.jpg) no-repeat top left; 
	width: 1024px;
	height: 640px;
	margin: 0 auto;
}
.page_wrap{
	background: url(../images/cfma_bg/mask-bg.png) no-repeat top left;
	width: 1024px;
	height: 640px;
	margin: 0 auto;
}
.page_content{
	width: 1024px;
	height: 464px;
}

.cfma_header_aside{
	width:497px;
	height:464px;
	/*background-color: green; */
	float:left;
}
.cfma_header_aside .logo{
	height: 134px;
	display: table-cell;
	vertical-align: middle;
	padding-left: 38px;
}

/**** Css for Menu********/
.nav_menu{
	width: 234px;
	height: 323px; 
}

.nav_menu ul{
	margin-top: 0px;
	margin-left: 0px;
	width: 140px;
	height: 237px;  
	padding-top: 24px;
	list-style:none;
	text-align: right;
}
.nav_menu ul li{
	display:block;
	height:18px;	
	text-align: right;
	position: relative;
	padding-top: 21px;
	position: relative;
}
.nav_menu ul li a{
	font-size: 14px;
	line-height: 18px;
	margin-right: 10px;
	text-decoration: none;
	color: #FFF;
}
.nav_menu ul li.menu_active,
.nav_menu ul li:hover{
	background: url(../images/menu_boder_bottom_img.jpg) no-repeat bottom center;
	font-weight: bold;	
}
.nav_menu ul li.menu_active a,
.nav_menu ul li:hover a{
	color: #FFF;
}
.nav_menu ul li ul{
	position:absolute;
	list-style:none;
	top: 0px;
	left:140px;
	background: url(../images/menu-border-left.jpg) no-repeat left center;
	width: 110px;
	min-height: 70px;
	height: auto;
	padding: 0px;
	margin: 0px;
	display:none; 	
}
.nav_menu ul li.menu_active ul{
   left:140px;   
}
.nav_menu ul li:nth-child(1) ul { top: -12px; padding-top: 28px;}
.nav_menu ul li:nth-child(2) ul { top: -10px; padding-top: 18px;}
.nav_menu ul li:nth-child(3) ul { top: -3px; padding-top: 7px;}
.nav_menu ul li:nth-child(4) ul { top: -3px; padding-top: 8px;}
.nav_menu ul li:nth-child(5) ul { top: -0px; padding-top: 1px;}
.nav_menu ul li:nth-child(6) ul { top: -8px; padding-top: 0px;}

.nav_menu ul li:hover ul,
.nav_menu ul li.menu_active ul{
	display:block;
}

.nav_menu ul li ul li{
	margin-left: 9px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	min-height: 10px;
	height: auto;
	width: 86px;
	text-align: left;
}
.nav_menu ul li ul li a{
	font-size: 10px;
	color: #FFF;
	line-height: 13px;
	font-weight: normal;
}

.nav_menu ul li ul li,
.nav_menu ul li ul li:hover{
	background: none;
}
.nav_menu ul li ul li:hover a, 
.nav_menu ul li ul li.sub_menu_active a{ 
	font-size: 12px;
	font-weight: bold;
}

.nav_menu ul li:nth-child(6){
	margin-top: 32px;
}
.nav_menu ul li:nth-child(6) a{
	color: #d9c086;
}

/****End Menus****/
.main_content{
	width:526px;
	height:464px;
	float:left;
	background-color: #151515;
	opacity: 0.8;
}

.intranet_form{
	width: 526px;
	height:46px;
	font-weight: bold;
}
.intranet_form .form_content{
	float: left;
	width: 160px;
	height: 100%;
	text-align: center;
	
}
.intranet_form .form_content .intranet p{
	font-size: 13px;
	color: #b19243;
}
.intranet_form .form_content .newsletter{
	position: relative;
}
.intranet_form .form_content .newsletter p{
	position: absolute;
	bottom: 0px;
	left: 58px;
	font-size: 11px;
	color: #ffffff;
}
.intranet_form .form_content .intranet_voire_e_mail{ 
	font-size: 8px;
	color:#a3a3a3;
	line-height: 11px;
	height: 11px;
	width: 66px;
}
.intranet_form .form_content .div_intranet_submit{
	position:relative;
}
.intranet_form .form_content  .intranet_submit{
	background-color: #bda167;
	margin-left:6px;
	font-size: 9px;
	color:#ffffff;
	line-height: 14px;
	height: 18px;
	width: 20px;
    border: medium none;
    cursor: pointer;
    text-align: center;
	position:absolute;
	top: -3px;
	left: 0px;
}


.content_body{
	width: 445px;
	height: 358px;
	padding: 40px 61px 19px 21px;
	overflow:hidden;
/*	background-color: green; */
}
.content_scroll_pane{
/*	background-color: #FFF;  */
	width: 100%;
	height: 358px;
	overflow: auto;
}
.page-mid-content{
	width: 100%;
	min-height: 360px;
}
/**** Begin Member*********/
.t_membres{
	table-layout: auto;
	
    font-size: 15px;
	color: #b19243;
	text-align:center;
    line-height: 35px;
    page-break-inside: auto;
    width: 99.5%;
}
.page-mid-content h1{
	text-transform: uppercase;	
}
/**** End Member*********/
.content_scroll_pane:focus{
	outline: 0px;
}
.content_scroll_pane p{
	font-size: 13px;
	line-height: 15px;
	color: #ffffff;
	margin-bottom: 5px;
	margin-top: 5px;
}
.cfma_sliders{
	width: 1024px;
	height: 134px;
	background-color: #000000;
}
.cfma_sliders ul li{
	width: 112px;
	height: 112px;
}

.cfma_sliders ul li .div_height{
	height: 76px;
}
.cfma_sliders ul li .div_opacity{
	background-color: #000000;
	opacity: 0.8;
	width: 112px;
	height: 36px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	
}
.cfma_sliders ul li .div_opacity p{
/*	font: 12px 'PenumbraFlareStd-Regular' ,Arial , Georgia, serif; */
	font-size: 10px;
	text-transform: uppercase;	
	color: #ffffff;
	line-height:10px;
	padding-left: 8px;
	padding-right: 8px;
}
.cfma_footer{
	width: 1024px;
	height: 45px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	background-color: #000000;
}
.cfma_footer p{
	/*font: 10px 'JohnstonITCStd-Medium' ,Arial , Georgia, serif;  */
	font-size: 10spx;
	font-weight: bold;
	text-transform: uppercase;	
	color: #d9c086;
}

/*****Actions *******/
.page-mid-content .ul_list_posts{
	width: 100%;
	height: auto;
	list-style: none outside none;
}
.page-mid-content .ul_list_posts .li_post{
	width: 100%;
	height: 72px;
	margin-bottom: 10px;
	overflow: hidden;
}
.ul_list_posts .li_post a{
	text-decoration:underline;
}
.ul_list_posts .li_post p{
	font-size: 10px;
	line-height: 12px;
}
.ul_list_posts .li_post img {
	float: left;
	margin-right: 5px;
}

/*****End Actions *******/



/***** Contact *******/
.contact_form ,
.contact_form p{
	font-size: 11px;
	line-height: 14px;
	color: #FFFFFF;
	margin-bottom: 5px;
	margin-top: 5px;
}
.contact_form  .contact_submit {
	background: url(../images/contact_submit_img.jpg) top left repeat-x;
	height: 16px;
	width: 97px;
	color: #FFF;
	font-size: 12px;
	lone-height: 16px;
	cursor: pointer;
    text-align: center;
}
.contact_form input {
	background-color: #FFF;
	border: none;
}
.contact_form table{
	table-layout: auto;
	width: 100%;
	height: auto;
}
.contact_form_left{
	width: 190px;
	height: 270px;
}
.contact_form_left table{
	text-align:  right;
	vertical-align:middle;
}
.contact_form_left table tr{
   height: 22px; 
}
.contact_form_left table input {
	height: 11px;
	width: 115px;
	line-height: 11px;
}


.contact_form_right{
	margin-left: 16px;
	width: 214px;
	height: 270px;
}

.contact_form_right textarea {
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 5px 8px;
	background-color: #FFF;
	border: none;
}

.contact_form_bottom{
	width: 100%;
	height: auto;
	min-height: 40px;
	margin-top: 16px;
}
.contact_form_bottom table{
	text-align: right;
	vertical-align:middle;
}
.contact_form_bottom table p{
	font-size: 10px;
}

.contact_form_bottom table input {
	height: 11px;
	width: 87px;
	line-height: 11px;
}

/*****End Contact *******/

.ul_presse_list {
	list-style: none;
}
.ul_presse_list li{
	display: inline-block;
	margin: 8px 19px 8px 0px;
	
}
.page-mid-content .ul_annee li,
.page-mid-content .ul_mois li,
.page-mid-content .ul_articles li{
	list-style:none;
	text-align:left;
	font-size: 12px;
	line-height: 24px;
}
.page-mid-content .ul_annee li{
	text-align:center;
}
.page-mid-content .ul_mois li{
	padding-left:15px;
}
.page-mid-content  .ul_articles li{
	padding-left:20px;
}
.page-mid-content ul li.text_title{
	text-align:center;
	background-color:#8e8585;
	opacity: 0.8;
	padding: 0px;
}
.page-mid-content  .ul_annee{
	width: 64px;
	height: 315px;
	margin-right: 9px;
	border: 1px solid #2d2819;
	
	
}
.page-mid-content  .ul_mois{
	width: 80px;
	height: 315px;
	margin-right: 9px;
	border: 1px solid #2d2819;
}

.page-mid-content  .ul_articles{
	width: 242px;
	height: 315px;
	margin-right: 9px;
	border: 1px solid #2d2819;
}

.page-mid-content .ul_annee li:hover,
.page-mid-content .ul_mois li:hover{
	background-color: #584c2c;
	opacity: 0.8;
}
.page-mid-content .ul_annee li.text_title:hover,
.page-mid-content .ul_mois li.text_title:hover{
	background-color:#8e8585;
	opacity: 0.8;
}



}/* END screen media */


@media print {
} /* END print media */
