.jcarousel-skin-cfma_sliders .jcarousel-container {
  /*  -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
   border-radius: 10px;
    background: #F0F6F9;
    border: 1px solid #346F97; */
}

.jcarousel-skin-cfma_sliders .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-cfma_sliders .jcarousel-container-horizontal {
	width: 1196px; 
	height: 145px;
	padding-top: 11px;
	padding-bottom: 12px;
    padding-left: 42px;
	padding-right: 42px;
}

.jcarousel-skin-cfma_sliders .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-cfma_sliders .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-cfma_sliders .jcarousel-clip-horizontal {
	width: 1196px;
	height: 145px;
}

.jcarousel-skin-cfma_sliders .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-cfma_sliders .jcarousel-item {
    width: 140px;
    height: 140px;
}

.jcarousel-skin-cfma_sliders .jcarousel-item-horizontal {
	margin-left: 5px;
    margin-right: 5px;
}

.jcarousel-skin-cfma_sliders .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-cfma_sliders .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-cfma_sliders .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-cfma_sliders .jcarousel-next-horizontal {
    position: absolute;
    top: 16px;
    right: 8px;
    width: 25px;
    height: 140px;
    cursor: pointer;
    background: transparent url(../images/cfma_sliders_skin/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-cfma_sliders .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../images/cfma_sliders_skin/prev-horizontal.png);
}

.jcarousel-skin-cfma_sliders .jcarousel-next-horizontal:hover,
.jcarousel-skin-cfma_sliders .jcarousel-next-horizontal:focus {
    background-position: 0 0;
}

.jcarousel-skin-cfma_sliders .jcarousel-next-horizontal:active {
    background-position: 0 0;
}

.jcarousel-skin-cfma_sliders .jcarousel-next-disabled-horizontal,
.jcarousel-skin-cfma_sliders .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-cfma_sliders .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-cfma_sliders .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: 0 0;
}

.jcarousel-skin-cfma_sliders .jcarousel-prev-horizontal {
    position: absolute;
    top: 16px;
    left: 10px;
    width: 25px;
    height: 140px;
    cursor: pointer;
    background: transparent url(../images/cfma_sliders_skin/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-cfma_sliders .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../images/cfma_sliders_skin/next-horizontal.png);
}

.jcarousel-skin-cfma_sliders .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-cfma_sliders .jcarousel-prev-horizontal:focus {
    background-position: 0 0;
}

.jcarousel-skin-cfma_sliders .jcarousel-prev-horizontal:active {
    background-position: 0 0;
}

.jcarousel-skin-cfma_sliders .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-cfma_sliders .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-cfma_sliders .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-cfma_sliders .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-cfma_sliders .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 42px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/cfma_sliders_skin/next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-cfma_sliders .jcarousel-next-vertical:hover,
.jcarousel-skin-cfma_sliders .jcarousel-next-vertical:focus {
    background-position: 0 0;
}

.jcarousel-skin-cfma_sliders .jcarousel-next-vertical:active {
    background-position: 0 0;
}

.jcarousel-skin-cfma_sliders .jcarousel-next-disabled-vertical,
.jcarousel-skin-cfma_sliders .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-cfma_sliders .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-cfma_sliders .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 0;
}

.jcarousel-skin-cfma_sliders .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 42px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/cfma_sliders_skin/prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-cfma_sliders .jcarousel-prev-vertical:hover,
.jcarousel-skin-cfma_sliders .jcarousel-prev-vertical:focus {
    background-position: 0 0;
}

.jcarousel-skin-cfma_sliders .jcarousel-prev-vertical:active {
    background-position: 0 0;
}

.jcarousel-skin-cfma_sliders .jcarousel-prev-disabled-vertical,
.jcarousel-skin-cfma_sliders .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-cfma_sliders .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-cfma_sliders .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 0;
}
