@charset "utf-8";
/*   
Theme Name: CFMA Theme
Theme URI: http://www.86Solutions.com
Description: Theme for CFMA
Author: John
Author URI: http://www.86Solutions.com
Version: 2
*/

/* Font JohnstonITCStd-Light*/
@font-face {
    font-family: 'JohnstonITCStd-Light';
    src: url('font/johnstonitcstd-light.eot');
    src: url('font/johnstonitcstd-light.eot?#iefix') format('embedded-opentype'),
         url('font/johnstonitcstd-light.woff') format('woff'),
         url('font/johnstonitcstd-light.ttf') format('truetype'),
         url('font/johnstonitcstd-light.svg#johnstonitcstd-light') format('svg');
	src: url('font/JohnstonITCStd-Light.otf');	 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JohnstonITCStd-Light';
	src: url('font/JohnstonITCStd-LightItalic.otf');	 
    font-weight: normal;
    font-style: italic;
}

/* Font JohnstonITCStd-Medium*/
@font-face {
    font-family: 'JohnstonITCStd-Light';
    src: url('font/johnstonitcstd-medium.eot');
    src: url('font/johnstonitcstd-medium.eot?#iefix') format('embedded-opentype'),
         url('font/johnstonitcstd-medium.woff') format('woff'),
         url('font/johnstonitcstd-medium.ttf') format('truetype'),
         url('font/johnstonitcstd-medium.svg#johnstonitcstd-medium') format('svg');
	src: url('font/JohnstonITCStd-Medium.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'JohnstonITCStd-Light';
	src: url('font/JohnstonITCStd-MediumItalic.otf');
    font-weight: bold;
    font-style: italic;
}

/* Font PenumbraFlareStd-Regular*/
@font-face {
    font-family: 'PenumbraFlareStd-Regular';
    src: url('font/penumbraflarestd-regular.eot');
    src: url('font/penumbraflarestd-regular.eot?#iefix') format('embedded-opentype'),
         url('font/penumbraflarestd-regular.woff') format('woff'),
         url('font/penumbraflarestd-regular.ttf') format('truetype'),
         url('font/penumbraflarestd-regular.svg#penumbraflarestd-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen {
* { margin: 0; padding: 0; }
article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }
/* start commented backslash hack \*/ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */

body { 
	font:  14px/1.4  'JohnstonITCStd-Light' ,Arial , Georgia, serif; 	
/*	background: url("images/header-bg.jpg") repeat-x ; */
	background-color:#000;
	color: #FFF;
    font-weight: normal;
    font-style: normal;
}

 * html body { 
    font:  14px/1.4  'JohnstonITCStd-Light' ,Arial , Georgia, serif; 
    font-weight: normal;
    font-style: normal;
}


.block {
	float:left;
}
a img { border: 0; }
a{
	text-decoration: none;
	color: #FFF;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover  {text-decoration: none; }

h1				{ font-size: 26px; margin: 0 0 10px 0; font-weight: bold;}
h2				{ font-size: 24px; margin: 0 0 0px 0; font-weight: bold;}
h3				{ font-size: 22px; margin: 0 0 0px 0;font-weight: bold;}
h4				{ font-size: 20px; margin: 0 0 0px 0;font-weight: bold;}
h5				{ font-size: 16px; margin: 0 0 0px 0; font-weight: bold;}
h6				{ font-size: 16px; margin: 0 0 0px 0; font-weight: normal;}

.clear{
	clear: both;
}
small			{ font-size: 13px; line-height: 19px; }
strong			{ color: #fefcfc; font-weight: bold; }
b				{ font-weight: bold; }
.bold           { font-weight: bold; }
.hidden         { display: none; }

.font_face_johnston_light{
	font: 14px/1.4 'JohnstonITCStd-Light' ,Arial , Georgia, serif;
}
.font_face_johnston_medium{
	font: 14px/1.4  'JohnstonITCStd-Medium' ,Arial , Georgia, serif;
}
.font_face_penumbra_regular{
	font: 14px/1.4  'PenumbraFlareStd-Regular' ,Arial , Georgia, serif; 
}


/******************************/
/* white line height*/
.whiteline15 { /*12*/
	height:15px;
	/*float:left; */
	width: 100%;
}
.whiteline26{ /* 21 */
	height:26px;
	width: 100%;
}

/****** white  colum  width *****/
.whitecolumn300 { /* 366 */
	width:300px;
	float:left; 
	height: 100%;
}
.whitecolumn30{/* 24 */
	width:30px;
	float:left; 
	height: 100%;
}
.whitecolumn95{
	width:95px; 
	float:left; 
    text-align: left;
}
.whitecolumn103{
	width:103px;
	float:left; 
	height: 100%;
    text-align: left;
}	
.whitecolumn30{
	width:30px;
	float:left; 
	height: 100%;
}
/*****************************/
.page_wrap_background{
	background: url(images/cfma_bg/page-bg.jpg) no-repeat top left; 
	width: 1280px;
	height: 800px;
	margin: 0 auto;
  
}
.page_wrap{
	background: url(images/cfma_bg/mask-bg.png) no-repeat top left;
	width: 1280px;
	height: 800px;
	margin: 0 auto;

}
.page_content{
	width: 1280px;
	height: 580px;
}

.cfma_header_aside{
	width:621px;
	height:580px;
	/*background-color: green; */
	float:left;
}
.cfma_header_aside .logo{
	height: 167px;
	display: table-cell;
	vertical-align: middle;
	padding-left: 47px;
}

/**** Css for Menu********/
.nav_menu{
	width: 292px;
	height: 404px; 
}

.nav_menu ul{
	margin-top: 0px;
	margin-left: 0px;
	width: 175px;
	height: 296px;  
	padding-top: 30px;
	list-style:none;
	text-align: right;
}
.nav_menu ul li{
	display:block;
	height:23px;	
	text-align: right;
	position: relative;
	padding-top: 26px;
	position: relative;
}
.nav_menu ul li a{
	font-size: 17px;
	line-height: 22px;
	margin-right: 13px;
	text-decoration: none;
	color: #FFF;
}
.nav_menu ul li.menu_active,
.nav_menu ul li:hover{
	background: url(images/menu_boder_bottom_img.jpg) no-repeat bottom center;
	font-weight: bold;	
}
.nav_menu ul li.menu_active a,
.nav_menu ul li:hover a{
	color: #FFF;
}
.nav_menu ul li ul{
	position:absolute;
	list-style:none;
	top: 0px;
	left:175px;
	background: url(images/menu-border-left.jpg) no-repeat left center;
	width: 138px;
	min-height: 88px;
	height: auto;
	padding: 0px;
	margin: 0px;
	display:none; 	
}
.nav_menu ul li.menu_active ul{
   left:175px;   
}
.nav_menu ul li:nth-child(1) ul { top: -15px; padding-top: 35px;}
.nav_menu ul li:nth-child(2) ul { top: -13px; padding-top: 23px;}
.nav_menu ul li:nth-child(3) ul { top: -4px; padding-top: 3px;}
.nav_menu ul li:nth-child(4) ul { top: -4px; padding-top: 10px;}
.nav_menu ul li:nth-child(5) ul { top: -0px; padding-top: 1px;}
.nav_menu ul li:nth-child(6) ul {
    top: -35px;
    padding-top: 0px;
    background: url(images/menu-border-left02.jpg) no-repeat left center;
}

.nav_menu ul li:hover ul,
.nav_menu ul li.menu_active ul{
	display:block;
}

.nav_menu ul li ul li{
	margin-left: 11px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	min-height: 13px;
	height: auto;
	width: 122px;
	text-align: left;
}
.nav_menu ul li ul li a{
	font-size: 13px;
	color: #FFF;
	line-height: 16px;
	font-weight: normal;
}

.nav_menu ul li ul li,
.nav_menu ul li ul li:hover{
	background: none;
}
.nav_menu ul li ul li:hover a, 
.nav_menu ul li ul li.sub_menu_active a{ 
	font-size: 15px;
	font-weight: bold;
}

.nav_menu ul li:nth-child(6){
	margin-top: 40px;
}
.nav_menu ul li:nth-child(6) a{
	color: #d9c086;
}
.nav_menu ul li:nth-child(6) ul li:nth-child(6){
	margin-top: 0px;
}
/****End Menus****/
.main_content{
	width:657px;
	height:580px;
	float:left;
	background-color: #151515;
    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; 
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.intranet_form{
	width: 657px;
	height:57px;
	font-weight: bold;
}
.intranet_form .form_content{
	float: left;
	width: 330px;
	height: 100%;
	text-align: center;	
}
.intranet_form .form_content .intranet p{
	font-size: 16px;
	color: #b19243;
}

.intranet_form .form_content .newsletter p{
	font-size: 16px;
	color: #ffffff;
}
.intranet_form .form_content .intranet_voire_e_mail{ 
	font-size: 10px;
	color:#a3a3a3;
	line-height: 14px;
	height: 14px;
	width: 83px;
}
.intranet_form .form_content .div_intranet_submit{
	position:relative;
}
.intranet_form .form_content .intranet_submit{
	background-color: #bda167;
	font-size: 13px;
	color:#ffffff;
	line-height: 24px;
	height: 24px;
	width: 30px;
    border: medium none;
    cursor: pointer;
    text-align: center;
	position:absolute;
	top: 0px;
	left: 0px;
}


.content_body{
	width: 556px;
	height: 447px;
	padding: 50px 76px 24px 26px;
	overflow:hidden;
/*	background-color: green; */
}
.content_scroll_pane{
/*	background-color: #FFF;  */
	width: 100%;
	height: 447px;
	overflow: auto;
}
.page-mid-content{
	width: 100%;
	min-height: 450px;
    z-index: 5;
}
.page-mid-content a img{
    padding-top:  6px;
    padding-bottom:  6px;
    padding-right:  12px;
}


/**** Begin Member*********/
.t_membres{
	table-layout: auto;
	
    font-size: 19px;
	color: #b19243;
	text-align:center;
    line-height: 44px;
    page-break-inside: auto;
    width: 99.5%;
}
.t_membres a{
   color: #b19243; 
}
.page-mid-content h1{
	text-transform: uppercase;	
}
/**** End Member*********/
.content_scroll_pane:focus{
	outline: 0px;
}
.content_scroll_pane p{
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	margin-bottom: 1px;
	margin-top: 1px;
}
.cfma_sliders{
	width: 1280px;
	height: 167px;
	background-color: #000000;
    list-style: none;
}

.cfma_sliders ul#cfma_sliders_carousel {
    height: 145px;
    padding-top: 5px;
}
.cfma_sliders ul li{
    float: left;
    list-style: none;
	width: 140px;
	height: 140px;
    margin-left: 5px;
    margin-right: 5px;
}
.cfma_sliders ul li a{
    text-decoration: none;
    width: 140px;
	height: 140px;
    border: none;  
}

.cfma_sliders ul li .post_img_thumbnail{ 
    width: 140px;
	height: 140px;
}

.cfma_sliders ul li .div_height{
	height: 95px;
    background: none;
}
.cfma_sliders ul li .div_opacity{
	background-color: #000000;
    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      filter: alpha(opacity=50);
      -moz-opacity: 0.5;
      -khtml-opacity: 0.5;
      opacity: 0.5;

	width: 140px;
	height: 45px;
	text-align: center;
/*	display: table-cell;
	vertical-align: middle;*/
	
}
.cfma_sliders ul li .div_opacity p{
/*	font: 12px 'PenumbraFlareStd-Regular' ,Arial , Georgia, serif; */
	font-size: 12px;
	text-transform: uppercase;	
	color: #ffffff;
	line-height:12px;
	padding-left: 10px;
	padding-right: 10px;
}
.cfma_footer{
	width: 1280px;
	height: 56px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	background-color: #000000;
}
.cfma_footer ul li{
    display: inline-block;
    list-style: none;
    
}
.cfma_footer ul {
    font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;	
	color: #d9c086; 
}
.cfma_footer ul li a{
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;	
	color: #d9c086;

}
.cfma_footer ul li a:after {
    padding-left: 10px;
    padding-right: 10px;
    content: " . ";
}
.cfma_footer ul li:last-child a:after {
    padding-left: 10px;
    padding-right: 10px;
    content: "";
}

/*****Actions *******/
.page-mid-content .ul_list_posts{
	width: 100%;
	height: auto;
	list-style: none outside none;
}
.page-mid-content .ul_list_posts .li_post{
	width: 100%;
	height: auto;
	margin-bottom: 12px;
	overflow: hidden;
}
.ul_list_posts .li_post a{
	text-decoration:underline;
}
.ul_list_posts .li_post p{
	font-size: 14px;
	line-height: 18px;
}
.ul_list_posts .li_post img {
	float: left;
	margin-right: 6px;
}

/*****End Actions *******/



/***** Contact *******/
.contact_form ,
.contact_form p{
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	margin-bottom: 6px;
	margin-top: 6px;
}
.contact_form  .wpcf7-submit {
	background: url(images/contact_submit_img.jpg) top left repeat-x;
	height: 25px;
	width: 121px;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border:  1px solid #665a3c;
    margin-top:  9px;
}
.contact_form input {
    font-size: 14px;
	background-color: #FFF;
	border: none;
}
.contact_form table{
	table-layout: auto;
	width: 100%;
	height: auto;
}
.contact_form_left{
	width: 237px;
	height: 337px;
}
.contact_form_left table{
	text-align: right;
	vertical-align:middle;
}
.contact_form_left table tr{
   height: 28px; 
}
.contact_form_left table input {
    font-size: 14px;
	height: 16px;
	width: 144px;
	line-height: 16px;
}


.contact_form_right{
	margin-left: 20px;
	width: 267px;
	height: 337px;
}

.contact_form_right textarea {
    display: block;
    font-size: 15px;
    margin: 0;
    padding: 6px 10px;
	background-color: #FFF;
	border: none;
    margin-top:1px;
}

.contact_form_bottom{
	width: 100%;
	height: auto;
	min-height: 50px;
	margin-top: 20px;
}
.contact_form_bottom table{
	text-align: right;
	vertical-align:middle;
}
.contact_form_bottom table p{
	font-size: 12px;
}

.contact_form_bottom table input {
    font-size: 12px;
	height: 16px;
	width: 109px;
	line-height: 16px;
}

/*****End Contact *******/


.ul_presse_list {
	list-style: none;
}
.ul_presse_list li{
	display: inline-block;
	margin: 10px 24px 10px 0px;
	
}

/* Dossiers */
.page-mid-content .ul_annee li,
.page-mid-content .ul_mois li,
.page-mid-content .ul_articles li{
	list-style:none;
	text-align:left;
	font-size: 15px;
	line-height: 30px;
}
.page-mid-content .ul_annee li{
	text-align:center;
}
.page-mid-content .ul_mois li{
	padding-left:19px;
}
.page-mid-content  .ul_articles li{
	padding-left:25px;
}
.page-mid-content ul li.text_title{
	text-align:center;
	background-color:#8e8585;
	opacity: 0.8;
	padding: 0px;
}
.page-mid-content  .ul_annee{
	width: 80px;
	min-height: 394px;
	margin-right: 11px;
	border: 1px solid #2d2819;	
}
.page-mid-content  .ul_mois{
	width: 100px;
	min-height: 394px;
	margin-right: 11px;
	border: 1px solid #2d2819;
}

.page-mid-content .ul_articles{
	width: 302px;
	min-height: 394px;
	margin-right: 11px;
	border: 1px solid #2d2819;
}

.page-mid-content .ul_annee li.theyear:hover,
.page-mid-content .ul_mois li.themonth:hover{
	background-color: #584c2c;
	opacity: 0.8;
}

.page-mid-content .ul_annee li.theyear_active,
.page-mid-content .ul_mois li.themonth_active{
	background-color: #584c2c;
	opacity: 0.8;
}


.page-mid-content .ul_annee li.text_title:hover,
.page-mid-content .ul_mois li.text_title:hover{
	background-color:#8e8585;
	opacity: 0.8;
}
/* End Dossiers */

/*  css for contact form 7*/
table.demande_dinformations {
    table-layout: auto;
    width:  90%; 
}

table.demande_dinformations tr th{
    width:  35%;
    text-align:  right; 
    vertical-align: middle;
}
table.demande_dinformations label ,
table.demande_dinformations p {
    font-size: 15px;
    line-height: 30px;
}
table.demande_dinformations input{
    font-size:  15px;
    height:  18px;
    line-height:  18px;
    background-color: #ffffff;
    border: medium none;
    width:  90%;
}
table.demande_dinformations tr td{
    width:  65%; 
}
table.demande_dinformations input.wpcf7-submit {
	background: url(images/contact_submit_img.jpg) top left repeat-x;
	height: 25px;
	width: 121px;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border:  1px solid #665a3c;
    margin-top:  9px;
}
table.demande_dinformations  textarea {
    width:  90%;
    margin-top: 5px;
    
}


#pre_eemail_msg{
    width: 694px; 
    min-height: 12px; 
 /*   position: absolute; 
    top:  30%; 
    left:  21%; */
    display: none; 
 
}

#eemail_msg{
    text-align: center;
}



/* ----------------------------------
		Newsletter template
	----------------------------------- */
.page_wrap_newsletter * { margin: 0; padding: 0; }
.page_wrap_newsletter{
}

/* ----------------------------------
	Sliders	Image Black and white
	----------------------------------- */
       
.cfma_sliders .fade-image {
	display: block;
	position: relative;
	width: 140px;
	height: 140px;
	}
.cfma_sliders .fade-image-a,
.cfma_sliders .fade-image-b {
	position: absolute;
	left: 0;
	top: 0;
    z-index: 5;
}
.cfma_sliders .fade-image-a {
	z-index: 6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
    filter: alpha(opacity=100); /* internet explorer */
	-khtml-opacity: 1;      /* khtml, old safari */
	-moz-opacity: 1;       /* mozilla, netscape */
	opacity: 1;           /* fx, safari, opera */
}	
.cfma_sliders .fade-image-a:hover {
    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
.cfma_sliders .fade-image .div_opacity{
    z-index: 7;
   	position: absolute;
	left: 0px;
	bottom: 0px;
}
.cfma_sliders .fade-image .div_opacity table{
    table-layout: auto;
    width: 100%;
    height: 100%;
    
}
.cfma_sliders .fade-image .fade_image_up {
    top: -5px;
	text-decoration:none;
}
    
    
}/* END screen media */


@media print {
} /* END print media */
